@import "./common.scss";

.dashboard-layout {
  .db-main {
    display: flex;
    justify-content: space-between;

    .db-nav-menu {
      width: 20%;
      height: 100vh;
      background-color: rgb(255, 255, 255);

      .nav-menu-item {
        margin-top: 30%;
        padding: var(--green-btn-padding);
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        .nav-top{

        }
        .nav-bottom{
          position: fixed;
          bottom: 0;
          width: 18%;
        }
        a{
          border-bottom: none;
          color: black;
          
        }
        h2 {
          font-family: var(--font-helvicta-bold);
          font-size: var(--text-sm);
          padding: var(--green-btn-padding);
          padding-left: 60px;
          transition: 0.3s;
          border-radius: var(--green-btn-padding);
          display: flex;
          align-items: center;
          background-color: var(--color-white);
          &:hover {
            background-color: var(--color-grey-1-hover);
            border-radius: var(--green-btn-padding);
            cursor: pointer;
          }
          
        }
        .dashboard-active{
          background-color: var(--color-grey-1);
        }
        .transaction-active{
          background-color: var(--color-grey-1);
        }
        .contact-active{
          background-color: var(--color-grey-1);
        }

        h2.dashboard-active {
          &::before {
            content: '';
            background-image: url('../images/Dashboard.png');
            background-size: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
          }
        }
        h2.dashboard {
          &::before {
            content: '';
            background-image: url('../images/grey-dashboard.png');
            background-size: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
          }
        }

        h2.transaction {
          &::before {
            content: '';
            background-image: url('../images/Transactions.png');
            background-size: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
          }
        }
        h2.transaction-active {
          &::before {
            content: '';
            background-image: url('../images/green-transaction.png');
            background-size: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
          }
        }
        h2.contact {
          &::before {
            content: '';
            background-image: url('../images/grey-support.png');
            background-size: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
          }
        }
        h2.contact-active {
          &::before {
            content: '';
            background-image: url('../images/green-support.png');
            background-size: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
          }
        }

      }
    }

    .db-content {
      width: 80%;
      background-color: var(--color-white);
      .dashboard-cmp {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh);
        .header {
          background-color: var(--color-white);
          width: 100%;
          padding: var(--green-btn-padding);

          h1 {
            font-family: var(--font-helvicta-bold);
            font-size: var(--text-sm);
          }
        }

        section {
          padding: 5%;
          background-color: var(--color-shade);

          .section-01 {
            background-color: var(--color-white);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            .left-content {
              padding: 2%;
              display: flex;
              width: 50%;
              justify-content: space-between;

            }

            .right-content {
              display: flex;
              width: 20%;
              gap: 30px;
              justify-content: end;
              padding-right: 2%;
            }
          }

          .section-02 {
            margin-top: 2%;
            display: flex;
            justify-content: space-between;

            .left-box {
              width: 48%;
              padding: 2%;
              background-color: var(--color-white);
              border-radius: 10px;

              ul {
                list-style: none;

                li {
                  display: flex;
                  padding: 3% 0px;

                  .recent-transactions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                    padding-left: 2%;

                    .rt-left {
                      p {
                        font-size: var(--text-sm);
                        font-weight: 700;
                        margin-bottom: 10px;

                        &:last-child {
                          font-size: var(--text-sx);
                          color: var(--color-grey);
                        }
                      }
                    }

                    .rt-right {
                      p {
                        font-size: var(--text-sm);
                        font-weight: 700;
                      }
                    }
                  }
                }
              }
            }

            .right-box {
              width: 48%;
              padding: 2%;
              background-color: var(--color-white);
              border-radius: 10px;
              display: flex;
              flex-direction: column;

              .top-content {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;

                .read-btn {}

                .crypto-name {
                  .grey-text {
                    padding-bottom: 20px;
                  }
                }
              }

              .bottom-content {
                padding: 30px;
              }

            }
          }

          .section-03 {
            width: 48%;
            padding-right: 2%;
            background-color: var(--color-white);
            border-radius: 10px;
            padding: 2%;
            margin-top: 2%;

            .green-btn {
              width: fit-content;
              margin-bottom: 5%;
            }
          }
        }
      }
      .transaction-cmp {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh);
        .header {
          background-color: var(--color-white);
          width: 100%;
          padding: var(--green-btn-padding);

          h1 {
            font-family: var(--font-helvicta-bold);
            font-size: var(--text-sm);
          }
        }
        main {
          padding: 5%;
          background-color: var(--color-shade);
          height: 100vh;
          display: flex;
          flex-direction: column;
          .export-csv {
            width: fit-content;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 20px;
            .green-btn {
              img {
                width: 15px;
              }
            }
          }
          .all-transactions {
            display: flex;
            background: var(--color-white);
            border-radius: 10px;
            flex-direction: row;
            display: flex;
            justify-content: space-between;

            .at-header {
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 0.5rem;
              width: 80%;

              .at-tabs {
                display: flex;
                justify-content: center;
                padding: 10px 20px;
                cursor: pointer;
                align-items: center;
                gap: 10px;
              }

              .active-tab {
                color: var(--color-green);
                border-bottom: 1px solid var(--color-green);
              }
            }

            .at-search-box {
              width: 20%;
              display: flex;
              align-items: center;
              max-width: 200px;
              margin-right: 30px;

              input {
                outline: 2px solid transparent;
                width: fit-content;
                display: flex;
                height: 30px;
                padding-left: 20px;
              }
            }
          }
          .transaction-details {
            display: flex;
            background: var(--color-white);
            border-radius: 10px;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            .td-header {
              display: flex;
              align-items: center;
              flex-direction: row;
              width: 100%;
              table {
                width: 100%;
                thead {
                  tr {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 20px;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 1px solid var(--color-grey-1);
                    th {
                      display: flex;
                      justify-content: flex-start;
                      padding: 10px 20px;
                      align-items: center;
                      gap: 10px;
                      width: 100%;
                      font-size: var(--text-mini);
                      color: var(--color-grey);
                    }
                  }
                }
                tbody {
                  tr {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 20px;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 1px solid var(--color-grey-1);
                    td {
                      display: flex;
                      justify-content: flex-start;
                      padding: 10px 20px;
                      align-items: center;
                      gap: 10px;
                      width: 100%;
                      font-size: var(--text-mini);
                      color: var(--color-black);
                      div{
                        p{
                          color: var(--color-black);
                          &:last-child{
                            color: var(--color-grey);
                            padding-top: 10px;
                          }
                        }
                      }
                      &:last-child{
                        display: flex;
                        // justify-content: center;
                        color: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .contact-cmp{
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh);
        .header {
          background-color: var(--color-white);
          width: 100%;
          padding: var(--green-btn-padding);

          h1 {
            font-family: var(--font-helvicta-bold);
            font-size: var(--text-sm);
          }
        }
        main{
          padding: 5%;
          background-color: var(--color-shade);
          height: 100vh;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .db-footer {
    // background-color: red;
    // height: 10px;
    // width: 100%;
  }
}