@import "../font/stylesheet.css";


:root {
  --text-lg: 36px;
  --text-md: 28px;
  --text-sm: 24px;
  --text-sx: 20px;
  --text-mini: 16px;

  // Line height
  --line-height-default: 1.15;
  --line-height-default-1: 1.25;

  // Letter Spacing
  --letter-spacing-default: 0.02em;
  --letter-spacing-1: 0.04em;

  // Font Family
  --font-helvicta-bold: "helveticabold";
  --font-helvicta: "helvetica";
  --font-helvicta-regular: "helveticaregular";
  --font-helvicta-light: "helveticalight";

  // Colors
  --color-black: #000000;
  --color-white: #ffffff;
  --color-black-1: #1f2124;
  --color-grey: #535D66;
  --color-grey-1: #F3F3F7;
  --color-grey-1-hover:#e1e1e3;
  --color-green-hover:#1d9730;
  --color-green: #13F136;
  --color-shade: #f5f6f6;

  --green-btn-padding:20px;
}

// ******** ---- Globle CSS ---- ********
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,ul{
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
body {
  font-weight: normal !important;
  background-image: none !important;
  font-family: var(--font-helvicta) !important;
  color: var(--color-black);
}
.green-btn{
    padding: var(--green-btn-padding);
    background-color: var(--color-green);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3 ease-in;

    img{
      margin-right: 10px;
    }
    p{
      font-family: var(--font-helvicta);
      font-size: var(--text-sx);
    }
    &:hover{
      background-color: var(--color-green-hover);
    }
}
.text-price-btn{
  p{
    padding-bottom: 10px;
    font-family: var(--font-helvicta-light) !important;
    color: var(--color-grey);
    font-weight: 600;
  }
}
.grey-btn{
  background-color: var(--color-grey-1);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: var(--text-sx);
  cursor: pointer;
  transform: all 0.3 ease-in;
  &:hover{
    background-color: var(--color-grey-1-hover);
  }
}
.yellow-btn{
  background-color: #F5A50B;
}
.red-btn{
  background-color: #DC2626;
}
.greeen-btn{
  background-color: #059669;
}
.grey-text{
  color: var(--color-grey);
  font-family: var(--font-helvicta-light);
  font-size: var(--text-sx);
}
.black-text{
  color: var(--color-black) !important;
  font-family: var(--font-helvicta);
  font-size: var(--text-sm);
}
.btn-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color-grey-1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 40%;
    height: 40%;
    
  }
}

@media screen and (max-width: 1800px) {
  :root {
    --text-lg: 34px;
    --text-sm: 20px;
    --text-sx: 16px;
    --text-mini: 15px;
    --green-btn-padding:15px;
  }
}

@media screen and (max-width: 1600px) {
  :root {
    --text-lg: 30px;
    --text-sm: 16px;
    --text-sx: 14px;
    --text-mini: 14px;
    --green-btn-padding:12px;
  }
  .grey-btn{
    padding: 5px 15px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --text-lg: 28px;
    --text-sm: 12px;
    --text-sx: 10px;
    --text-mini: 12px;
    --green-btn-padding:10px 15px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --text-lg: 20px;
    --text-sm: 12px;
    --text-sx: 10px;
    --text-mini: 10px;
    --green-btn-padding:12px;
  }
}







